<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MYSERVLET1</servlet-name>
        <servlet-class>MYSERVLET1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>Controller.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>Controller.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>carinfo</servlet-name>
        <servlet-class>Controller.carinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>audi</servlet-name>
        <servlet-class>Controller.audi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ford</servlet-name>
        <servlet-class>Controller.ford</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bajaj</servlet-name>
        <servlet-class>Controller.bajaj</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tvs</servlet-name>
        <servlet-class>Controller.tvs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>carinfo</servlet-name>
        <url-pattern>/carinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>audi</servlet-name>
        <url-pattern>/audi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ford</servlet-name>
        <url-pattern>/ford</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bajaj</servlet-name>
        <url-pattern>/bajaj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tvs</servlet-name>
        <url-pattern>/tvs</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
